@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import "reset.css";

@import "page/background.css";
@import "page/main-goal.css";
@import "page/quote.css";
@import "page/screen-center.css";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color:#05080c;

    height: 100vh;
}

.hidden{
    display: none !important;
}