@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import "reset.css";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color:#05080c;

    height: 100vh;
}

.hidden{
    display: none !important;
}

@keyframes loadBackground{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

.background-container{
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position:absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: loadBackground 0.3s ease-in-out forwards;
}

.background-container img{
    height: 100vh;
    width: 100vw;
}

.center{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock{
    font-size: 180px;
    /* font-weight: bold; */
    color: white;
}

.clock-container{
    margin-bottom: 20px;
    z-index: 3;
}

.login-greeting-container{
    z-index: 3;
}

#login-form input{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 5px solid white;

    color: white;
    
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#login-form input::placeholder{
    color: white;
    font-style: italic;

    transition: color 0.3s ease-in-out;
}

/* 포커스 상태에서의 placeholder 스타일 */
#login-form input:focus::placeholder {
    color: transparent;
  }

#greeting{
    font-size: 60px;
    /* font-weight: 600; */
    color: white;
}

.main-goal-container{
    margin-top: 150px;
    z-index: 3;
}

.main-goal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-goal-container span{
    font-size: 40px;
    color: white;
}

.main-goal-container span:last-child{
    margin-top: 20px;
}

#main-goal-form{
    margin-top: 10px;
}

#main-goal-form input{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 5px solid white;

    color: white;
    
    font-size: 40px;
    text-align: center;
}