@keyframes loadBackground{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

.background-container{
    height: 100vh;
    background-size: cover;
    background-position : center;
}