#quote-container{
    height: 5%;
    width: 60%;
    margin: 0 auto;
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: relative;
    z-index: 2;
}

#quote-container span {
    pointer-events:none;
    font-size: 20px;
    color: white;
    text-align: center;

    transition: all 0.5s ease-in-out;
}