.screen-center{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    position: relative;
    z-index: 2;
}

#clock{
    font-size: 130px;
    color: white;
}

#login-form input{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 5px solid white;

    color: white;
    
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#login-form input::placeholder{
    color: white;
    font-style: italic;

    transition: color 0.3s ease-in-out;
}

/* 포커스 상태에서의 placeholder 스타일 */
#login-form input:focus::placeholder {
    color: transparent;
}

#greeting__text{
    font-size: 50px;
    /* font-weight: 600; */
    color: white;
}

.greeting-edit{
    opacity: 0;

    position: absolute;
    right: -40px;

    background-color: transparent;
    border: none;
    color: white;
    outline: none; /* 포커스시 나타나는 윤곽선 제거 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */

    transition: all 0.3s ease-in-out;
}

#greeting-container{
    position: relative;
    display: flex;
    align-items: center;
}

#greeting-container:hover .greeting-edit {
    opacity : 1;
    visibility: visible;
}