.sub-to-do-list{
    position: relative;
    z-index: 2;
}

.sub-to-do-list .stdl__toggle{
    position: absolute;

    bottom: 10px;
    right: 50px;

    color: rgba(255,255,255, 0.7);
    font-size: 20px;

    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.sub-to-do-list .stdl__toggle:hover{
    color: rgba(255,255,255, 1.0);
}

.to-do-list__container{
    opacity: 0; /* 기본적으로 완전 불투명 */
    transform : translateY(10px) scale(0.95); /*초기위치*/

    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;

    width: 370px;
    height: 250px;
    background-color: white;

    position: absolute;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.5);
    border: 2px solid #495057;

    bottom: 50px;
    right: 50px;
}

.to-do-list__container:after { 
    border-top: 10px solid white; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 10px solid transparent; 
    content:""; 
    position:absolute;
    bottom: -20px;
    right: 20px;  
}

.stdl__bottom{
    position: absolute;
    bottom: 0px;
    height: 15%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.stdl__add-button{
    width: 80%;
    height: 60%;

    border-radius: 20px;
    background-color: #495057;
    box-shadow: 0 5px #999;

    display: flex;
    align-items: center;
    justify-content: center;

    /* transition: all 0.2s ease-in-out; */
}

.stdl__add-button i{
    color: white;
    
    width: 20px;
    height: 20px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.stdl__add-button:hover{
    background-color: #5e6266;
}

.stdl__add-button:active{
    background-color: #bcc0c4;
    box-shadow: 0 0px #666;
    transform: translateY(4px);
}

#todo-list{
    padding: 20px;
}

.todo-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;

    font-size: 16px;
}

.todo-text {
    outline: none;

     /* 남은 공간을 채움 */
    flex-grow: 1;
     /* 긴 단어가 넘칠 경우 줄바꿈 */
    overflow-wrap: break-word;
    margin-right: auto;
}

.todo-text[contenteditable="true"]
{
    opacity: 0.5;
}

.todo-text:hover{
    cursor: default;
}

.todo-item input,
.todo-item i,
.stdl__add-button{
    cursor: pointer;
}